@import url("../css/style.css");

.header.bg-contact {
  background: url(../img/crossfit-gbee7b5307_1280.jpg) no-repeat center
    center/cover;
  min-height: 50vh;
}

.contato.container {
  text-align: left;
}

.contact-title h1 {
  color: var(--first-color-light);
}

.bottom-line {
  margin-bottom: 40px;
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin-bottom: 60px;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: #d9d9d9;
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: #19430d;
}

.contato-dados h2 {
  margin-bottom: 60px;
  color: var(--white-color);
}

.contato-endereco {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("../img/icons/local.svg") no-repeat 0px 2px;
}

.contato-endereco p {
  margin-bottom: 8px;
  color: var(--white-color);
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
  color: var(--white-color);
}

.contato-meios a:hover {
  color: var(--first-color);
}

.contato-meios a:nth-child(1) {
  background: url("../img/icons/email.svg") no-repeat 0px 2px;
}

.contato-meios a:nth-child(2) {
  margin-bottom: 32px;
}

.contato-meios a:nth-child(3) {
  margin-bottom: 60px;
  background: url("../img/icons/telefone.svg") no-repeat 0px 2px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form .col-2 {
  grid-column: span 2;
}

.form label {
  display: block;
  margin-bottom: 4px;
  font: 600 1rem/1.5 "Red Hat Display", sans-serif;
  color: var(--title-color);
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Red Hat Display", sans-serif;
  border: 1px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--white-color);
  background: var(--white-color);
  box-shadow: 0 0 0 2px #fea;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: #19430d;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Red Hat Display", sans-serif;
  color: var(--white-color);
  max-width: max-content;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
