@import url("../css/style.css");

.header.sobre {
  position: relative;
  background: url("../img/sobre-bg-1.jpg") no-repeat center center/cover;
  min-height: 50vh;
}

.about-title h1 {
  color: var(--first-color-light);
}

.bottom-line {
  margin-bottom: 40px;
}

.nossa-historia-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  padding: 1.5rem;
}

.nossa-historia-content img {
  border-radius: 5px;
  min-height: 100%;
}
video{
  display: none;
}

.quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--title-color-black);
}

.quote img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote-content {
  padding: 40px 40px 80px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--first-color-light);
}

.quote-content p {
  max-width: 32ch;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 1em;
  position: relative;
  z-index: 0;
  display: block;
}

.autor {
  justify-content: center;
}
.unidades {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.unidades img {
  border-radius: 4px 4px 0 0;
}

.unidades h2 {
  grid-column: 1/-1;
  margin-bottom: 60px;
}

.unidades-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}


.unidades-item {
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #d9d9d9;
  width: 400px;
  
}

.unidades-conteudo {
  display: grid;
  gap: 32px 16px;
  padding: 32px;
}

.unidades-conteudo-titulo {
  font-size: 1.5rem;
}

.unidades-dados {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--bg-light);
  padding-left: 12px;
  justify-items: start;
}

.unidades-dados a {
  color: var(--text-color);
}

.unidades-horario {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
  color: var(--title-color);
}

.academias.container {
  max-width: calc(80vw);
}
.academias-fotos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.1rem;
}

.academias-fotos img {
  min-height: 100%;
  min-width: 100%;
  border-radius: 10px;
}
/* video{
  width: 100%;
  height: auto;
  border-radius: 5px;
} */
@media(max-width:567px){
  .unidades-container{
    flex-direction: column;
  }
  .quote{
    display: block;
  }

  .quote-content{
    padding: 5rem;
  }
  .quote div:first-child {
    display: none;
  }

  .quote-text{
    text-align: center;
  }
  }
  
@media(max-width: 641px){
  .nossa-historia-content {
    grid-template-columns:  1fr;
    gap: 4rem;
    padding:0  1.5rem 0 1.5rem;
  }
  .nossa-historia-content p{
    padding-right:2rem;
    padding-left:2rem;
  }
  video{
    display: block;
  }
  .nossa-historia-content img {display: none;}

}